/*********************
**  Mensaje_DMCPTD  **
*********************/
body{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: serif, Tahoma, Geneva, Verdana, sans-serif; */
}

p{
    background-color: var(--rojo3);
    border-radius: 0.5em;
    padding: 0.2em;
    
}

nots{
    background-color: var(--rojo5);
    border-radius: 1em;
    padding: 0.5em;
    font-weight: bold;
}



:root {
    --rojo1: #430b07;
    --rojo2: #9a2012;
    --rojo3: #fda674;
    --rojo4: #ffe7d5;
    --rojo5: #fb763c;
}

#portadaP{
    background-color: aliceblue;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-bottom: 5em;
}

#mensaje_frame{
    /* background-color: aliceblue; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
}

#mensaje_title_bar{
    /* background-color: var(--rojo2); */
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.25em;

    margin-bottom: 0.25em;
    /* border-top-left-radius: 1em; */
    /* border-top-right-radius: 1em; */
    /* padding: 0.75em; */
}

#mensaje_title{
    background-color: var(--rojo2);
    color: white;
    width: 85%;
    max-height: 5em;
    text-align: center;
    border-radius: 100em;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mensaje_anterior, #mensaje_siguiente{
    background-color: var(--rojo2);
    width: 5em;
    height: 5em;
    border-radius: 100em;
    border: none;
    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#mensaje_text_border{
    background-color: var(--rojo3);
    /* text-align: justify; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em; */
    border-radius: 1em;
    width: 100%;
    /* padding: 0.75em; */
}

#mensaje_text{
    /* background-color: var(--rojo4); */
    text-align: justify;

    /* border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em; */
    border-radius: 1em;
    width: 95%;
    /* padding: 0.75em; */
}

.mensaje_frame_title {
    background-color: var(--rojo1);
    color: white;
    width: 100%;
    max-height: 5em;
    text-align: center;
    border-radius: 100em;
    margin-bottom: 1em;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* **************
**  Extras **
************** */
#extras{
    background-color: var(--rojo1);
    color: white;
    width: 80%;
    max-height: 5em;
    text-align: center;
    border-radius: 100em;
    margin-bottom: 1em;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* **************
**  Bitácora **
************** */
#bitacora_frame{
    width: 80%;
    /* background-color: white; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

#bitacora_notas{
    width: 100%;
}

.bitacora_frame_title, .playlist_frame_title, .consejos_frame_title{
    background-color: var(--rojo2);
    color: white;
    width: 100%;
    max-height: 5em;
    text-align: center;
    border-radius: 100em;
    margin-bottom: 1em;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 400px;
    height: 80vh;
    background-color: #ffffff;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.chat-header {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
    justify-content: center;
}

.chat-footer input {
    /* flex: 1; */
    width: 0%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}

.chat-footer button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

.chat-footer button:hover {
    background-color: #0056b3;
}

.message {
    max-width: 80%;
    padding: 10px;
    border-radius: 20px;
    word-wrap: break-word;
}

.message.sent {
    background-color: #007bff;
    color: #ffffff;
    align-self: center;
    border-radius: 5px;
    font-family: cursive;
    font-size: small;
}

.message.received {
    background-color: #f1f1f1;
    align-self: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: justify; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: serif, Tahoma, Geneva, Verdana, sans-serif; */
    
}

/* Color Themes */
.morning-theme {
    /* --bg-color: #fff3cd;
    --header-bg-color: #ffcc00;
    --footer-bg-color: #fff3cd;
    --sent-message-bg-color: #ffcc00;
    --received-message-bg-color: #ffeeba; */

    --bg-color: #fff886;
    --header-bg-color: #a66a02;
    --footer-bg-color: #fff886;
    --sent-message-bg-color: #d19500;
    --received-message-bg-color: #fffee7;
    --button-color: #442304;
    --button-pressed-color: #74430f;
}

.afternoon-theme {
    /* --bg-color: #f0e68c;
    --header-bg-color: #ffd700;
    --footer-bg-color: #f0e68c;
    --sent-message-bg-color: #ffd700;
    --received-message-bg-color: #fafad2; */

    --bg-color: #f2cf00;
    --header-bg-color: #89580a;
    --footer-bg-color: #fff441;
    --sent-message-bg-color: #a67102;
    --received-message-bg-color: #feffc1;
    --button-color: #442604;
    --button-pressed-color: #74480f;
}

.evening-theme {
    /* --bg-color: #b0c4de;
    --header-bg-color: #4682b4;
    --footer-bg-color: #b0c4de;
    --sent-message-bg-color: #4682b4;
    --received-message-bg-color: #add8e6; */

    --bg-color: #9dbfdc;
    --header-bg-color: #2b5279;
    --footer-bg-color: #9dbfdc;
    --sent-message-bg-color: #346695;
    --received-message-bg-color: #e8eef6;
    --button-color: #182739;
    --button-pressed-color: #253c55;
}

.night-theme {
    /* --bg-color: #2c3e50;
    --header-bg-color: #1a252f;
    --footer-bg-color: #2c3e50;
    --sent-message-bg-color: #34495e;
    --received-message-bg-color: #3e4e59; */

    --bg-color: #36566e;
    --header-bg-color: #426b87;
    --footer-bg-color: #416b88;
    --sent-message-bg-color: #5484a3;
    --received-message-bg-color: #cfdde8;
    --button-color: #1a252f;
    --button-pressed-color: #2b3f4f;
}

.chat-container {
    background-color: var(--bg-color);
}

.chat-header {
    background-color: var(--header-bg-color);
}

.chat-footer {
    background-color: var(--header-bg-color);
}

.message.sent {
    background-color: var(--sent-message-bg-color);
}

.message.received {
    background-color: var(--received-message-bg-color);
}

.chat-footer button {
    background-color: var(--button-color);
}

.chat-footer button:hover {
    background-color: var(--button-pressed-color);
}


/* **************
**  Playlist **
************** */
#playlist_frame, #consejos_frame {
    width: 80%;
    /* background-color: white; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.playlist_scrollbar{
    width: 100%;
    background-color: var(--rojo3);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
    margin-top: 1em;
}


/* ***********************
***   Animaciones   ***
*********************** */

#mensaje_anterior:active, #mensaje_siguiente:active {
    background-color: var(--rojo3);
    transform: translateY(4px);
    box-shadow: 0 2px #666;
}


.chat-header span{
    position: relative;
    animation: aparecertexto 24s infinite;
    animation-delay: calc(-4s * var(--i));
}

.chat-header span::before{
    /* content: attr(data-text); */
    position: absolute;
    /* position: relative; */
    width: 100%;
    /* border-right: 4px solid white; */
    /* overflow: hidden; */
    /* animation: animate 4s linear infinite; */
}

@keyframes aparecertexto {
    0%{
        display: inline-block;
    }
    /* 33.33%, 100%{ */
    16.66%, 100%{
        display: none;
    }
}

@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}